{% extends 'base.html' %}
{% load static %}
{% block content %}
	<head>
		<title>Dziennik | Tworzenie profilu pracownika</title>
	</head>
	{% include 'header.html' %}
	{% include 'redirect/no_institution.html' %}
	{% if message %}
		<div class="popup-background">
			<div class="container popup-center">
				<div class="row">
					<div class="col-md-6 mx-auto popup">
						{{message}}<br><br>
						<a href="{%url 'main'%}"><button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">OK</button></a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<main>
		<div class="main-shadow"></div>
		<div class="container pt-5">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<form  name="singup" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="exampleInputEmail1">Imię</label>
							<p><input type="text" name="first_name" maxlength="30" required id="id_first_name" class="form-control" pattern="[a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ]{3,}$" placeholder="Podaj imię" required></p>
							<span class="error_first_name"></span>
						</div>
						<input type="number" name="instytucja" value={{user.pk}} required hidden>
						<div class="form-group">
							<label for="exampleInputEmail1">Nazwisko</label>
							<p><input type="text" name="last_name" maxlength="30" required id="id_last_name" class="form-control" pattern="[a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ]{3,}|[a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ]{3,}[\-][a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ]{3,}|[a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ]{3,}[\s][a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ]{3,}$" placeholder="Podaj nazwisko" required></p>
							<span class="error_last_name"></span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Specjalizacja</label>
							<p><input type="text" name="specjalization" maxlength="254" required id="id_specjalization" class="form-control" pattern="[\-a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ\s]{3,}$" placeholder="Podaj specjalizacje" required></p>
							<span class="error error_specjalization"></span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Email</label>
							<p><input type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="Podaj email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></p>
							<span class="error error_email"></span>
						</div>
						<div class="form-group">
							<p><input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control" placeholder="Podaj hasło" required hidden value="{% if generated_password %}{{ generated_password }}{% endif %}"></p>
						</div>
						<div class="form-group">
							<p><input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control"  placeholder="Podaj ponownie hasło" required hidden value="{% if generated_password %}{{ generated_password }}{% endif %}"></p>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Nr Telefonu</label>
							<p><input type="text" name="phone" autocomplete="new-password" id="id_phone" class="form-control" pattern="[0-9]{9,15}$" placeholder="Podaj nr telefonu"></p>
							<span class="error error_phone"></span>
						</div>
						
						<div class="form-group mt-5">
							<button type="submit" onclick="validate()" class=" btn btn-block mybtn btn-primary tx-tfm">Dodaj pracownika</button>
						</div>
						<div class="form-group">
							<p class="text-center"><a href="{%url 'main'%}" id="signin"><i class="fa fa-angle-left fa-x"></i> Wróć</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
{% endblock %}