{% extends 'base.html' %}
{% load static %}
{% block content %}
	<head>
		<title>Dziennik | Tworzenie nowych zajęć</title>
	</head>
	{% include 'header.html' %}
	{% include 'redirect/no_institution.html' %}
	{% if activity %}
		<div class="popup-background">
			<div class="container popup-center">
				<div class="row">
					<div class="col-md-6 mx-auto popup">
						<b>Nazwa zajęć:</b> {{activity.name}}<br>
						<b>Data zajęć:</b> {{activity.date}}<br>
						<b>Godzina rozpoczecia zajęć:</b> {{activity.start_time}}<br>
						<b>Godzina zakonczenia zajęć:</b> {{activity.end_time}}<br>
						<b>Prowadzący:</b> {{activity.employee_id}}<br><br>
						<a href="{%url 'main'%}"><button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">OK</button></a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<main>
		<div class="main-shadow"></div>
		<div class="container pt-5">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<form  name="singup" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="exampleInputEmail1">Nazwa zajęć</label>
							<p><input type="text" name="name" maxlength="30" required id="id_name" class="form-control" pattern="[a-zA-ZęółśążźćńĘÓŁŚĄŻŹĆŃ\s]{3,}$" placeholder="Podaj nazwę zajęć" required></p>
							<span class="error error_name"></span>
						</div>
						<div class="imput-group date">
							<label for="exampleInputEmail1">Data zajęć</label>
							<p><input type="text" name="date" maxlength="30" required id="date" class="form-control date-withicon" pattern="(?:20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))$" placeholder="RRRR-MM-DD" required></p>
							<span class="error error_date"></span>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Godzina rozpoczecia</label>
							<p><input type="text" name="start_time" maxlength="30" required id="start_time" pattern="(?:0[1-9]|1[0-9]|2[0-4]):(?:[0-5])[0-9]$" class="form-control" placeholder="HH:MM" required></p>
							<span class="error error_start_time"></span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Godzina zakonczenia</label>
							<p><input type="text" name="end_time" maxlength="30" required id="end_time" pattern="(?:0[1-9]|1[0-9]|2[0-4]):(?:[0-5])[0-9]$" class="form-control" placeholder="HH:MM" required></p>
							<span class="error error_end_time"></span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Cykliczność:</label>
							<select class="form-control" name="periodicity" id="periodicity"required>
								<option disabled selected hidden>Nie wybrano...</option>
								<option value="0">Brak</option>
								<option value="1">Codziennie</option>
								<option value="7">Co tydzień</option>
								<option value="14">Co dwa tygodnie</option>
								<option value="28">Co miesiąc</option>
							</select>	
							<span class="error error_periodicity"></span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Wybierz pracownika:</label>
							<select class="form-control" name="employee" id="employee" required>
								<option disabled selected hidden>Nie wybrano...</option>
								{% if employees %}
									{% for employee in employees %}
										{% if employee.active %}
											<option value={{employee.pk}}>{{employee}}</option>
										{% else %}
											<option disabled value={{employee.pk}}>{{employee}} (nieaktywny)</option>
										{% endif %}
									{% endfor %}
								{% else %}
									<option value="0">Brak</option>
								{% endif %}
							</select>	
							<span class="error error_employee"></span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Wybierz podopiecznych:</label>
							<select class="form-control" name="children" id="children"  size="3" required multiple>
								<option disabled selected hidden>Nie wybrano...</option>
								{%  if children %}
									{% for child in children %}
										<option value={{child.pk}}>{{child}}</option>
									{% endfor %}
								{% else %}
									<option value="0">Brak</option>
								{% endif %}
							</select>	
							<span class="error error_children"></span>
						</div>
						<div class="col-md-12 ">
						</div>
						<div class="form-group mt-5">
							<button type="submit" onclick="validate()" class=" btn btn-block round mybtn btn-primary tx-tfm">Dodaj zajęcia</button>
						</div>
						<div class="form-group">
							<p class="text-center"><a href="{%url 'main'%}" id="signin"><i class="fa fa-angle-left fa-x"></i> Wróć</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
					
						
{% endblock %}