{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="dziennik"/>
		<meta name="description" content="Dziennik, aplikacja pozwalająca na przystępniejsze organizowanie zajęc pozalekcyjnych."/>
		<meta name="subject" content="Dziennik, organizer zajęć">
		<meta name="copyright"content="Grupa 185ic B1 - Dziennik">
		<meta name="language" content="pl">
		<meta name="theme-color" content="#007bff">
		<link rel="icon" href="{% static 'favicon.ico' %}"  type="image/icon type">
		<script src="{% static 'lib/jquery/jquery.js' %}"></script>
		<script src="{% static 'js/validation.js' %}"></script>
		<script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script> 
		<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script> 
		<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.js' %}"></script> 
		<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-reboot.css' %}">
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-reboot.min.css' %}">
		<link href="{% static 'lib/bootstrap/awesome-font.css' %}" rel="stylesheet">   
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>        
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body>
		{% block content %}
		{% endblock %} 
	</body>
</html>