{% extends 'base.html' %}
{% load static %}
{% block content %} 
	<head>
		<title>Dziennik | Tworzenie profilu dziecka</title>    
	</head>
	<div class="myform form shadow-lg">
		<form  name="singup" method="post">
			{% csrf_token %}
 			<input type="number" name="rodzic" value={{user.pk}} required hidden>
			<div class="form-group">
				<label for="exampleInputEmail1">Imię dziecka</label>
				<p><input type="text" name="first_name" maxlength="30" required id="id_first_name" class="form-control" pattern="[a-zA-Z]{3,}$" placeholder="Podaj imię dziecka" required></p>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Nazwisko dziecka</label>
				<p><input type="text" name="last_name" maxlength="30" required id="id_last_name" class="form-control" pattern="[a-zA-Z]{3,}$" placeholder="Podaj nazwisko dziecka" required></p>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Wiek dziecka</label>
				<p><input type="number" name="age" maxlength="30" min="1" max="99"required id="id_age" class="form-control" pattern="[0-9]{2}" placeholder="Podaj wiek dziecka" required></p>
				<span class="error"></span>
			</div>
			<div class="col-md-12 ">
			</div>
			<div class="form-group">
				<button type="submit" onclick="childValidation()" class=" btn btn-block mybtn btn-primary tx-tfm">Dodaj profil dziecka</button>
			</div>
			<div class="form-group">
				<p class="text-center"><a href="{%url 'main'%}" id="signin">Wróć</a></p>
			</div>
		</form>
		{% if parentid %}
			<div class="message-background">
				<div class="message">
					<b>Dziecko:</b> {{first_name}} {{last_name}}<br>
					<b>Wiek:</b> {{age}}<br>
					<b>Rodzic:</b> {{user.first_name}} {{user.last_name}}<br><br>
					<a href="{%url 'main'%}"><button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">OK</button></a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}