{% extends 'base.html' %}
{% load static %}
{% block content %} 
	<head>
		<title>Dziennik | Rejestracja</title>      
	</head>
	
	<div class="myform form shadow-lg">
		<form  name="singup" method="post">
			{% csrf_token %}
            <div class="form-group">
				<label for="exampleInputEmail1">Imię</label>
				<p><input type="text" name="first_name" maxlength="30" required id="id_first_name" class="form-control" placeholder="Podaj imię" required></p>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Nazwisko</label>
				<p><input type="text" name="last_name" maxlength="30" required id="id_last_name" class="form-control" placeholder="Podaj nazwisko" required></p>
			</div>
            <div class="form-group">
				<label for="exampleInputEmail1">Specjalizacja</label>
				<p><input type="text" name="specjalization" maxlength="254" required id="id_specjalization" class="form-control" placeholder="Podaj specjalizacje" required></p>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<p><input type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="Podaj email" required></p>
			</div>
			<div class="form-group">
				<p><input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control" placeholder="Podaj hasło" required hidden value="sss"></p>
			</div>
			<div class="form-group">
				<p><input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control" placeholder="Podaj ponownie hasło" required hidden value="sss"></p>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Nr Telefonu</label>
				<p><input type="text" name="phone" autocomplete="new-password" required maxlength="9" id="id_phone" class="form-control" placeholder="Podaj ponownie hasło" required></p>
			</div>
			<div class="col-md-12 ">
					{% if form.errors %}			
						{%for x in form.errors%}
						{% if x == email %}
						<p>Nie prawidłowy: </p>
						{% else  %}
						<p> {{x}}</p>
						{% endif %}
						{% endfor %}
					{% endif %}

					{% if next %}
						{% if user.is_authenticated %}
						<p>Your account doesn't have access to this page. To proceed,
						please login with an account that has access.</p>
						{% else %}
						<p>Please login to see this page.</p>
						{% endif %}
					{% endif %}
			</div>
			<div class="form-group">
				<button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Dołącz za darmo</button>
			</div>
			<div class="form-group">
				<p class="text-center"><a href="{%url 'login'%}" id="signin">Masz już konto?</a></p>
			</div>
		</form>
		</div>
	</div>
{% endblock %}