{% extends 'base.html' %}
{% load static %}
{% block content %} 
	<head>
		<title>Dziennik | Dodawanie pracownika</title>      
	</head>
	
	<div class="myform form shadow-lg">
		<form  name="singup" method="post">
			{% csrf_token %}
            <div class="form-group">
				<label for="exampleInputEmail1">Imię</label>
				<p><input type="text" name="first_name" maxlength="30" required id="id_first_name" class="form-control" placeholder="Podaj imię" required></p>
			</div>
 			<input type="number" name="instytucja" value={{user.pk}} required hidden>
			<div class="form-group">
				<label for="exampleInputEmail1">Nazwisko</label>
				<p><input type="text" name="last_name" maxlength="30" required id="id_last_name" class="form-control" placeholder="Podaj nazwisko" required></p>
			</div>
            <div class="form-group">
				<label for="exampleInputEmail1">Specjalizacja</label>
				<p><input type="text" name="specjalization" maxlength="254" required id="id_specjalization" class="form-control" placeholder="Podaj specjalizacje" required></p>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<p><input type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="Podaj email" required></p>
			</div>
			<div class="form-group">
				<p><input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control" placeholder="Podaj hasło" required hidden value={% if wyghaslo %}{{ wyghaslo }}{% endif %}></p>
			</div>
			<div class="form-group">
				<p><input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control" placeholder="Podaj ponownie hasło" required hidden value={% if wyghaslo %}{{ wyghaslo }}{% endif %}></p>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Nr Telefonu</label>
				<p><input type="text" name="phone" autocomplete="new-password" required maxlength="9" id="id_phone" class="form-control" placeholder="Podaj ponownie hasło" required></p>
			</div>
			<div class="col-md-12 ">
					{% if form.errors %}	
						<font color="red">
							<p>Nie prawidłowy: </p>		
							{%for x in form.errors%}
								<p><li>{{x}}</li></p>
							{% endfor %}
						</font>
					{% endif %}

					{% if next %}
						{% if user.is_authenticated %}
						<p>Your account doesn't have access to this page. To proceed,
						please login with an account that has access.</p>
						{% else %}
						<p>Please login to see this page.</p>
						{% endif %}
					{% endif %}
			</div>
			<div class="form-group">
				<button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Dodaj pracownika</button>
			</div>
			<div class="form-group">
				<p class="text-center"><a href="{%url 'main'%}" id="signin">Wróć</a></p>
			</div>
		</form>
		{% if message %}
			<div class="message-background">
				<div class="message">
					{{message}}<br><br>
					<a href="{%url 'main'%}"><button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">OK</button></a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}