{% extends 'base.html' %}
{% load static %}
{% block content %}
	<head>
		<title>Dziennik | Lista dzieci</title>
	</head>
	{% include 'header.html' %}
	{% include 'redirect/no_parent.html' %}
	<div class="popup-background" id="childDeleteMenu" style="display:none;">
		<div class="container popup-center">
			<div class="row">
				<div class="col-md-6 mx-auto popup">
					<div>
						<form method="POST" action="{% url 'view_children'%}">
							{% csrf_token %}
							<input hidden id="toDeleteHiddenChildID" name="toDeleteHiddenChildID" type="number">
							<span class="w-100 float-left px-3 text-center h5">Czy jesteś pewny/a że chcesz usunąc profil dziecka?</span>
							<span class="w-100 float-left px-3 text-center h4 mt-4" id="displayChildName"><b>Imię Dziecka</b></span>
							<div>
								<button type="button" id="closeView" class="btn btn-link mt-3 w-50 text-left mt-5"><i class="fas fa-times"></i> Anuluj</button>
								<button type="submit" name="deleteChild" value="1"class="btn btn-link mt-3 w-50 float-right text-right mt-5"><i class="fa fa-check" aria-hidden="true"></i> Tak, usuń</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<main>
		<div class="main-shadow"></div>
		<div class="container-fluid pt-5">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div id="accordion">
						{% for child in children %}
							<div class="card mt-5">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link btn-child w-100 text-left" data-toggle="collapse" data-target="#collapseOne{{child.id}}" aria-expanded="true" aria-controls="collapseOne{{child.id}}">
											{{ child }}
										</button>
									</h5>
								</div>
							</div>
							<div id="collapseOne{{child.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion ">
								<div class="card-body card-child">
									{% for key, value in institution_list.items %} 
										{% if key == child.id %}
											{% for inner_key, inner_value in value.items %} 
												<span class="card-institution">{{inner_value}}</span>
											{% endfor %}
										{% endif %}
									{% endfor %}
									<form method="POST" action="{% url 'assign_child'%}" >
										{% csrf_token %}
										<input value="{{child.id}}" hidden name="hiddenChildID" type="number">
										<button type="submit" class="btn btn-primary mt-3 round mw-50 w-auto"><i class="fa fa-plus" aria-hidden="true"></i> Przypisz do instytucji</button>
										<button type="button" value="{{child.id}}" childName="{{child}}" class="btn btn-danger mt-3 round float-right mw-50 w-auto position-static deleteChildOpenMenu"><i class="fa fa-trash" aria-hidden="true"></i> Usuń profil dziecka</button>
									</form>
								</div>
							</div>
						{% endfor %}
					</div> 
					<script src="{% static 'js/child.js' %}"></script>  
				</div>
			</div>
		</div>
	</main>
{% endblock %}