{% extends 'base.html' %}
{% load static %}
{% block content %}
	<head>
		<title>Dziennik | {{ user }}</title>
	</head>
	{% include 'header.html' %}
	{% if user.role == "User"%}
		<div class="popup-background" id="view" style="display: none;">
			<div class="container popup-center">
				<div class="row">
					<div class="col-md-6 mx-auto popup">
						<div id="acticityMenu">
							<form method="POST" action="{% url 'schedule_week'%}">
								{% csrf_token %}
								<input class="inputActivityId" hidden name="hiddenActivityId" type="number">
								<button type="submit" name="changeRemindActivity" value="1" id="changeRemindActivity" class="btn btn-link mt-3 w-50 float-left"></button>
								<button type="button" id="goToActicitySendMessage" class="btn btn-link mt-3 w-50 float-right"><i class="fas display-1 mb-3 fa-envelope-open-text"></i></button>
								<span id="changeRemindActivityDescription" class="w-50 float-left px-3 text-center"></span>
								<span class="w-50 float-left px-3 text-center">Wyślij wiadomość do prowadzącego</span>
								<button type="button" id="closeView" class="btn btn-link mt-3 w-100 text-center mt-5"><i class="fas fa-times"></i> Zamknij</button>
							</form>
						</div>
						<div id="acticitySendMessage" style="display: none;">
							<form method="POST" action="{% url 'schedule_week'%}">
								{% csrf_token %}
								<input class="inputActivityId" hidden name="hiddenActivityId" type="number">
								<span class="w-100 float-left mb-4 h6">Powiadomienie prowadzącego o nieobecności swojego dziecka:</span>
								<textarea class="form-control" id="messageToEmployee" required rows="5" maxlength="300" placeholder="Napisz wiadomość do prowadzącego... (maksymalnie 300 znaków)"></textarea>
								<span id="noMessageTyped" class="error w-100 float-left my-2" style="display: none;"> Musisz podac terść wiadomości!</span>
								<button type="button" id="backToActivityMenu" class="btn btn-link mt-3 w-50 text-left float-left"><i class="fa fa-angle-left fa-x"></i> Wróć</button>
								<button type="button" id="goToViewActicitySendMessage" class="btn btn-link mt-3 w-50 text-right float-right">Wyślij <i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
						<div id="viewActicitySendMessage" style="display: none;">
							<form method="POST" action="{% url 'schedule_week'%}">
								{% csrf_token %}
								<input id="hoverMessageToEmployee" hidden name="hoverMessageToEmployee" type="text">
								<input class="inputActivityId" hidden name="hiddenActivityId" type="number">
								<span class="w-100 float-left mb-4 h6">Czy chcesz wysłać nastepującą wiadomość:</span>
								<span id="viewMessageToEmployee" class="w-100 float-left mb-4 h7"><i>twoja wiadomość...</i></span>
								<button type="button" id="backToActicitySendMessage" class="btn btn-link mt-3 w-50 text-left float-left"><i class="fa fa-angle-left fa-x"></i> Wróć</button>
								<button type="submit" id="sendMesage" name="sendMesage" value="1"  class="btn btn-link mt-3 w-50 text-right float-right">Wyślij <i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%elif user.role == "Employee"%}
		<div class="popup-background" id="view" style="display: none;">
			<div class="container popup-center">
				<div class="row">
					<div class="col-md-6 mx-auto popup">
						<div id="acticityMenu" class="text-center">
							<form method="POST" action="{% url 'schedule_week'%}">
								{% csrf_token %}
								<input class="inputActivityId" hidden name="hiddenActivityId" type="number">
								<button type="submit" name="changeRemindActivity" value="1" id="changeRemindActivity" class="btn btn-link mt-3 w-100 "></button>
								<span id="changeRemindActivityDescription" class="w-100 px-3 m-auto text-center"></span>
								<button type="button" id="closeView" class="btn btn-link mt-3 w-100 text-center mt-5"><i class="fas fa-times"></i> Zamknij</button>
							</form>
						</div>
						<div id="acticitySendMessage" style="display: none;">
							<form method="POST" action="{% url 'schedule_week'%}">
								{% csrf_token %}
								<input class="inputActivityId" hidden name="hiddenActivityId" type="number">
								<span class="w-100 float-left mb-4 h6">Powiadomienie prowadzącego o nieobecności swojego dziecka:</span>
								<textarea class="form-control" id="messageToEmployee" required rows="5" maxlength="300" placeholder="Napisz wiadomość do prowadzącego... (maksymalnie 300 znaków)"></textarea>
								<span id="noMessageTyped" class="error w-100 float-left my-2" style="display: none;"> Musisz podac terść wiadomości!</span>
								<button type="button" id="backToActivityMenu" class="btn btn-link mt-3 w-50 text-left float-left"><i class="fa fa-angle-left fa-x"></i> Wróć</button>
								<button type="button" id="goToViewActicitySendMessage" class="btn btn-link mt-3 w-50 text-right float-right">Wyślij <i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
						<div id="viewActicitySendMessage" style="display: none;">
							<form method="POST" action="{% url 'schedule_week'%}">
								{% csrf_token %}
								<input id="hoverMessageToEmployee" hidden name="hoverMessageToEmployee" type="text">
								<input class="inputActivityId" hidden name="hiddenActivityId" type="number">
								<span class="w-100 float-left mb-4 h6">Czy chcesz wysłać nastepującą wiadomość:</span>
								<span id="viewMessageToEmployee" class="w-100 float-left mb-4 h7"><i>twoja wiadomość...</i></span>
								<button type="button" id="backToActicitySendMessage" class="btn btn-link mt-3 w-50 text-left float-left"><i class="fa fa-angle-left fa-x"></i> Wróć</button>
								<button type="submit" id="sendMesage" name="sendMesage" value="1"  class="btn btn-link mt-3 w-50 text-right float-right">Wyślij <i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%endif%}
	<main>
		<div class="main-shadow"></div>
		<div class="container-fluid pt-5">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<div class="weekSchedule">
						<span class="weekScheduleWeekDay" style="grid-column-start: 1; grid-row-start: 1;">Pn <i class="weekDayNumber">{{thisWeek.0}}</i></span>
						<span class="weekScheduleWeekDay" style="grid-column-start: 1; grid-row-start: 2;">Wt <i class="weekDayNumber">{{thisWeek.1}}</i></span>
						<span class="weekScheduleWeekDay" style="grid-column-start: 1; grid-row-start: 3;">Śr <i class="weekDayNumber">{{thisWeek.2}}</i></span>
						<span class="weekScheduleWeekDay" style="grid-column-start: 1; grid-row-start: 4;">Cz <i class="weekDayNumber">{{thisWeek.3}}</i></span>
						<span class="weekScheduleWeekDay" style="grid-column-start: 1; grid-row-start: 5;">Pt <i class="weekDayNumber">{{thisWeek.4}}</i></span>
						<span class="weekScheduleWeekendDay" style="grid-column-start: 1; grid-row-start: 6;" class="weekend">Sb <i class="weekDayNumber">{{thisWeek.5}}</i></span>
						<span class="weekScheduleWeekendDay" style="grid-column-start: 1; grid-row-start: 7;" class="weekend">Nd <i class="weekDayNumber">{{thisWeek.6}}</i></span>
						<!--<span>
							{% for podgl in podglad%}
								<span>{{podgl.data_rozpoczecia}}</span>
								<span>{{podgl.godzina_rozpoczecia}}</span>
								<span>{{podgl.prowadzacy}}</span>
								<span>{{podgl.nazwa}}</span>
								<span>{{podgl.day}}</span>			
							{% endfor %}
						</span>-->
						<script>
							var x = 0;
							var pn=2;
							var wt =2;
							var sr=2;
							var cz=2;
							var pt=2;
							var sob=2;
							var nd=2;
							function display_activity(id, remind, activity, x, day){
								var days = document.querySelector(".weekSchedule");
								var new_span = document.createElement("span");
								new_span.style.gridRowStart = day+1;

								if(day==0){
									new_span.style.gridColumnStart = pn;
									pn++;
								}
								if(day==1){
									new_span.style.gridColumnStart = wt;
									wt++;
								}
								if(day==2){
									new_span.style.gridColumnStart = sr;
									sr++;
								}
								if(day==3){
									new_span.style.gridColumnStart = cz;
									cz++;
								}
								if(day==4){
									new_span.style.gridColumnStart = pt;
									pt++;
								}
								if(day==5){
									new_span.style.gridColumnStart = sob;
									sob++;
								}
								if(day==6){
									new_span.style.gridColumnStart = nd;
									nd++;
								}

								new_span.style.gridColumnEnd = parseInt(new_span.style.gridColumnStart) + 1;
								new_span.setAttribute('class','weekScheduleActivity activity')
								new_span.setAttribute('id',id)
								new_span.setAttribute('remind',remind)

								for(let info in activity){
									var myJavaScriptVariable = activity[info];
									new_span.innerHTML += myJavaScriptVariable;
								}

								days.appendChild(new_span);
								x++;
							}
						</script>
						{% for activity in activities %}
							<script type="text/javascript">
								display_activity(
									{{activity.pk}},
									{% if remind %}{% for key, value in remind.items %}{% if key == activity.id%}{% filter force_escape|lower %}{{value}}{% endfilter %}{%endif%}{% endfor %}{%else%}0{%endif%},
									[
										"<font size='3'>{{activity.name}}</font><br/><font size='2'><i>{% for key, value in children_in_activity.items %}{% if key.0 == activity.id%}{{value}}<br>{%endif%}{% endfor %}</i></font>", 
										"<span><font size='2'>od</font> {{activity.start_time}}</span>", 
										"<span> <font size='2'>do</font> {{activity.end_time}}</span>"
									],
									x,
									{{activity.day}}
								)
							</script>
						{% endfor %}
						<script src="{% static 'js/activity.js' %}"></script>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}