{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% if user.username == '' %}
		<meta http-equiv="refresh" content="0; URL=/login/" />
	{% endif %}
	<head>
		<title>Dziennik | {{ user.first_name }} {{ user.last_name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{% static 'lib/jquery/jquery.js' %}"></script>
		<script src="{% static 'lib/jquery/jquery.slim.js' %}"></script>
		<script src="{% static 'lib/bootstrap/bootstrap.js' %}"></script>
		<link href="{% static 'css/main.css' %}" rel="stylesheet">    
	</head>
	<div class="myform form shadow-lg">
		<nav class="mb-1 navbar navbar-expand-lg navbar-light default-color shadow-lg custom-nav">
			<ul class="navbar-nav ml-auto nav-flex-icons">
				<li class="nav-item avatar">
					<a class="nav-link p-0" href="#">
						<img src="{% static 'img/man.svg' %}" class="rounded-circle z-depth-0 bg-profile float-left" alt="avatar image" width="15%">
						<span class="align-bottom" style="line-height: 0;"><font class="font-weight-bold pl-2" color="black" size="4">{{ user.first_name }} {{ user.last_name }}</font></br><font class="text-silver pl-2"  size="2">{{ user.email }}</font></span>
					</a>
				</li>
			</ul>	
			<div class="collapse navbar-collapse" id="navbarSupportedContent-333">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="navbar-toggler-icon"></span></a>
						<div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink-333">
							<a class="dropdown-item" href="#">Ustawienia</a>
							<a class="dropdown-item" href="">Wyloguj</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<label class="btn btn-primary active">
				<input type="radio" name="options" id="option1" autocomplete="off"> Dzień
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options" id="option2" autocomplete="off"><a href ="{% url 'week_list' %}">Tydzień</a> 
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options" id="option3" autocomplete="off" checked> Miesiąc
			</label>
		</div>
		<div class="plan">
			<div class="calendar">
				<div class="month"><a href="#" class="nav"><i class="fa fa-angle-left fa-2x"></i></a><div>Grudzień <span class="year">2020</span></div><a href="#" class="nav"><i class="fa fa-angle-right fa-2x"></i></a></div>
				<div class="days">
				<span>Pn</span>
				<span>Wt</span>
				<span>Śr</span>
				<span>Cz</span>
				<span>Pt</span>
				<span class="weekend">Sb</span>
				<span class="weekend">Nd</span>
				</div>
				<div class="dates">
					<button>
					<time>1</time>
					</button>
					<button>
					<time>2</time>
					</button>
					<button>
					<time>3</time>
					</button>
					<button>
					<time>4</time>
					</button>
					<button class="weekend">
					<time>5</time>
					</button>
					<button class="weekend">
					<time>6</time>
					</button>
					<button>
					<time>7</time>
					</button>
					<button>
					<time>8</time>
					</button>
					<button class="today">
					<time>9</time>
					</button>
					<button>
					<time>10</time>
					</button>
					<button>
					<time>11</time>
					</button>
					<button class="weekend">
					<time>12</time>
					</button>
					<button class="weekend">
					<time>13</time>
					</button>
					<button>
					<time>14</time>
					</button>
					<button>
					<time>15</time>
					</button>
					<button>
					<time>16</time>
					</button>
					<button>
					<time>17</time>
					</button>
					<button>
					<time>18</time>
					</button>
					<button class="weekend">
					<time>19</time>
					</button>
					<button class="weekend">
					<time>20</time>
					</button>
					<button>
					<time>21</time>
					</button>
					<button>
					<time>22</time>
					</button>
					<button>
					<time>23</time>
					</button>
					<button>
					<time>24</time>
					</button>
					<button>
					<time>25</time>
					</button>
					<button class="weekend">
					<time>26</time>
					</button>
					<button class="weekend">
					<time>27</time>
					</button>
					<button>
					<time>28</time>
					</button>
					<button>
					<time>29</time>
					</button>
					<button>
					<time>30</time>
					</button>
					<button>
					<time>31</time>
					</button>
				</div>
			</div>
		</div>
			
			<div id="zbadaj-dzien">
				<div id="szczegoly-dzien">

				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/main.js' %}%"></script>  
{% endblock %}