{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <title>Dziennik | Rejestracja</title>
</head>
{% include 'header.html' %}
<main>
  {% if message %}
  <div class="popup-background">
    <div class="container popup-center">
      <div class="row">
        <div class="col-md-6 mx-auto popup">
          {{message}}<br /><br />
          <a href="{%url 'view_settings'%}"
            ><button
              type="submit"
              class="btn btn-block mybtn btn-primary tx-tfm"
            >
              OK
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div id="login-panel">
          <form name="singup" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Nowy Email</label>
              <p>
                <input
                  id="mail"
                  type="email"
                  name="email"
                  maxlength="254"
                  required
                  id="id_email"
                  class="form-control"
                  placeholder="Podaj Nowy Email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                  required
                />
              </p>
              <span class="error"></span>
            </div>
            <div class="form-group mt-4">
              <button
                type="submit"
                class="btn btn-block mybtn btn-primary tx-tfm"
              >
                Zmień Email
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</main>
