{% extends 'base.html' %}
{% load static %}
{% block content %} 
	<head>
		<title>Dziennik | Rejestracja</title>
	</head>
    {% include 'header.html' %}
    <main>
	{% if message %}
            <div class="popup-background">
                <div class="container popup-center">
                    <div class="row">
                        <div class="col-md-6 mx-auto popup">
                            {{message}}<br><br>
                            <a href="{%url 'view_settings'%}"><button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">OK</button></a>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}
{% endblock %}