{% extends 'base.html' %}
{% load static %}
{% block content %} 
	{% if user.username != '' %}
		<meta http-equiv="refresh" content="0; URL=/" />
	{% endif %}
	<head>
		<title>Dziennik | Rejestracja</title>     
	</head>
	
	<div class="myform form shadow-lg">
		<div class="logo mb-3">
			<div class="col-md-12 text-center">
				<img class="accTypeIcon-active"  src="{% static 'img/person.svg' %}">
				<a href="{%url 'newinstitution'%}" id="newinstitution"><img class="accTypeIcon" src="{% static 'img/institution.svg' %}"></a>
			</div>
		</div>
		<form  name="singup" method="post">
			{% csrf_token %}
			<div class="form-group" >
				<label for="exampleInputEmail1">Imię</label>
				<p><input id="id1" type="text" name="first_name" maxlength="30" required id="id_first_name" class="form-control" placeholder="Podaj imię" pattern="[a-zA-Z]{3,}$" required></p>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Nazwisko</label>
				<p><input type="text" name="last_name" maxlength="30" required id="id_last_name" class="form-control" placeholder="Podaj nazwisko" pattern="[a-zA-Z]{3,}$" required></p>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<p><input id="mail" type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="Podaj email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></p>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Hasło</label>
				<p><input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control" placeholder="Podaj hasło" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required></p>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Potwierdź hasło</label>
				<p><input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control" placeholder="Podaj ponownie hasło" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required></p>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Nr Telefonu</label>
				<p><input type="text" name="phone" required  id="id_phone" class="form-control" placeholder="Podaj nr telefonu" pattern="[0-9]{9,15}$" required></p>
				<span class="error"></span>
			</div>
			<div class="col-md-12 " id="demo">
					{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}

					{% if next %}
						{% if user.is_authenticated %}
						<p>Your account doesn't have access to this page. To proceed,
						please login with an account that has access.</p>
						{% else %}
						<p>Please login to see this page.</p>
						{% endif %}
					{% endif %}
			</div>
			<div class="form-group">
				<button type="submit" onclick="userValidation()" class=" btn btn-block mybtn btn-primary tx-tfm">Dołącz za darmo</button>
			</div>
			<div class="form-group">
					<p class="text-center"><a href="{%url 'login'%}" id="signin">Masz już konto?</a></p>
			</div>
		</form>
		
		{% if message %}
			<div class="message-background">
				<div class="message">
					{{message}}<br><br>
					<a href="{%url 'main'%}"><button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">OK</button></a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}